.post {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 1.5rem;
  background-color: #ffffff;
  max-width: 500px;
  border: 1px solid lightgray;
}

.post-image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post-prediction {
  font-size: 0.6rem;
  padding: 0.6rem 0.6rem 0 0;
  opacity: 0.8;
  text-align: right;
}

.post-text {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

.post-comments {
  padding: 20px;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post-header-info {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.post-header-info h3 {
  padding: 0;
  margin: 0;
}

.post-comment-box {
  display: flex;
  margin-top: 10px;
}
