ENVIRONMENT=DEV
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres
FACE_APP_URL=http://face:8081/
JWT_SECRET=replace-it-with-secret
AWS_ACCESS_KEY=awskey
AWS_SECRET_KEY=awssecret
AWS_BUCKET_PHOTO=awsbucket
AWS_REGION=awsregion
